.footer {
  .footer-link{
    font-size: 10px;
  }
  &__top {
    margin: 30px 3.5px 34px 3.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .line {
      max-width: 458px;
      height: 1px;
      background: red;
      width: 100%;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .footer__main-left {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
    .list {
      display: flex;
      flex-direction: column;
    }
    .list.first {
      gap: 27px;
    }
    .list-link {
      display: flex;
      align-items: center;
    }
    .list-link.start {
      align-items: start;
      gap: 4px;
    }
    .list-link.vkontakte,
    .list-link.mail {
      align-items: center;
      gap: 6px;
    }
    .list-link.contacts {
      gap: 9px;
    }
    .text {
      font-size: 12px;
      line-height: 174%;
      letter-spacing: 2.5%;
    }
    .text.location {
      max-width: 166px;
    }
    .text.vk {
      line-height: 114%;
    }
    .footer__main-right {
      display: flex;
      justify-content: space-between;
      gap: 57px;
      .title {
        color: #d60000;
        font-weight: 700;
        font-size: 14px;
        line-height: 81%;
        letter-spacing: 2.5%;
        text-transform: uppercase;
        margin-bottom: 9px;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .text {
        font-size: 12px;
        line-height: 81%;
        letter-spacing: 2.5%;
        opacity: 0.7;
        white-space: nowrap;
      }
    }
  }
}
.footer-bottom {
  background-color: #d60000;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer-bottom .bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 23px;
}
.footer-bottom .footer-bottom-right {
  display: flex;
  gap: 190px;
}
@media (max-width: 1024px) {
  .footer {
    &__main {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 23px;
    }
    .container{
      padding-inline: 18px;
    }
  }
}
@media (max-width: 768px) {
  .footer .footer__main-right {
    display: none;
  }
  .footer-bottom .footer-bottom-right{
    gap: 20px;
  }
  .line{
    display: none !important;
  }
  .footer__main .text.location {
    max-width: unset;
  }
}
@media(max-width: 600px){
  .footer-bottom{
    padding-block: 13px 12px;
  }
  .footer__main .footer__main-left{
    flex-direction: column;
  }
  .footer-bottom .footer-bottom-right{
    flex-direction: column;
    gap: 11px;
    text-align: center;
  }
  .footer-bottom .bottom-container{
    flex-direction: column;
    gap: 11px;
  }
  .footer__main .list.first{
    gap: 0;
  }
  .footer__main .list-link.vkontakte{
    display: none;
  }
  .footer__main .footer__main-left{
    gap: 12.7px;
  }
}