.header {
  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    img {
      padding: 27px 32px;
      background-color: #d60000;
      scale: 1;
    }
  }
  .header-right {
    .order {
      background-color: black;
      padding: 32px 20px;
    }
  }
  .header-media {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .header-left img {
    padding: 13px 16px;
  }
  .header .order {
    display: none;
  }
  .header-media {
    display: flex !important;
    gap: 5.6px;
    align-items: center;
  }
  .logo-main {
    width: 64.90226745605469px;
    height: 31.127910614013672px;
  }
  .car-white {
    padding: 5.1px 7.2px 7.1px 7.2px;
    background-color: #d60000;
    border-radius: 50%;
    margin-right: 9px;
  }
}
